

body{
    font-family: monospace;
}

#box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
}
#circle {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    margin: 10px;
}