*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: aliceblue;
  font-family: monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;  
  gap: 450px;
  /* overflow: auto; */
}

.signup-form {
  background: #ffffff;
  padding: 30px 35px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.signup-form input:focus {
  border-color: #667eea;
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #555;
}

.signup-form button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-form button:hover {
  background: transparent;
  color: black;
  border: 1px solid black;
}

.result{
  width: 500px;
}

.result-container {
  width: 420px;
  height: 500px;      /* 👈 fixed height zaroori */
  overflow-y: auto;   /* 👈 yahin lagta hai */
  overflow-x: hidden;
  background: #f5f7ff;
  border-radius: 12px;
  padding: 20px;
}


.result-card {
  margin-top: 20px;
  background: #f4f6ff;
  color: black;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 380px;
  border: 2px solid black;

}



.result h2 {
  margin-bottom: 10px;
  color: #333;
}

.result p {
  font-size: 18px;
  margin: 5px 0;
  
}



.btn{
  margin-top: 20px;
  text-align: center;
  margin-left: 100px;
  background-color: red;
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  color: white;
}

